<p id="notice"><%= notice %></p>

<p>
  <strong>Band name:</strong>
  <%= @concert.band_name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @concert.venue %>
</p>

<p>
  <strong>Concert date:</strong>
  <%= @concert.concert_date %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
