<p id="notice"><%= notice %></p>
<h1><%= @photo.name %></h1>


<p>
  <%= image_tag @photo.concert_photo.variant(resize: '200x200')%>
</p>

<p>
  <strong>Name:</strong>
  <%= @photo.name %>
</p>

<p>
  <strong>Concert date:</strong>
  <%= @photo.concert_date %>
</p>

<!-- <p>
  <strong>Loved:</strong>
  <%# <%= @photo.loved %> %>
</p>

<p>
  <strong>Liked:</strong>
  <%# <%= @photo.liked %> %>
</p> -->

<p>
  <strong>Concert:</strong>
  <%= link_to "#{@photo.concert.band_name}", "/concerts/#{@photo.concert.id}" %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
